/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.gf_debug {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
}
.gf_debug .gf_debug_menu {
  height: 32px;
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #333333));
  background: -ms-linear-gradient(bottom, #000000, #333333);
  background: -moz-linear-gradient(center bottom, #000000 0%, #333333 100%);
  background: -o-linear-gradient(#333333, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#000000', GradientType=0);
  color: #888;
}
.gf_debug .gf_debug_menu .gf_debug_stats {
  float: right !important;
}
.gf_debug .gf_debug_menu .gf_debug_stats .gf_debug_stats_item {
  float: left;
  padding: 0 10px;
  text-align: right;
  cursor: default;
  border-right: 1px solid #333;
}
.gf_debug .gf_debug_menu .gf_debug_stats .gf_debug_stats_item.spr {
  width: 100px;
}
.gf_debug .gf_debug_menu .gf_debug_menu_item {
  float: left;
  padding: 0 10px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  border-right: 1px solid #333;
}
.gf_debug .gf_debug_panel {
  display: none;
  height: 200px;
}
/*
Based on: http://cssdeck.com/labs/css-checkbox-styles
*/
input[type=checkbox] {
  visibility: hidden;
}
/* Status Orb (checkbox replacement) */
.checkbox {
  position: relative;
  width: 28px;
  height: 28px;
  background: #fcfff4;
  margin: 2px;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkbox label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  background: #222222;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #222222), color-stop(1, #45484d));
  background: -ms-linear-gradient(bottom, #222222, #45484d);
  background: -moz-linear-gradient(center bottom, #222222 0%, #45484d 100%);
  background: -o-linear-gradient(#45484d, #222222);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#222222', GradientType=0);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 3px #ffffff;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 3px #ffffff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 3px #ffffff;
}
.checkbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background: #00bf00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00bf00), color-stop(1, #009400));
  background: -ms-linear-gradient(bottom, #00bf00, #009400);
  background: -moz-linear-gradient(center bottom, #00bf00 0%, #009400 100%);
  background: -o-linear-gradient(#009400, #00bf00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009400', endColorstr='#00bf00', GradientType=0);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.checkbox label:hover::after {
  opacity: 0.3;
}
.checkbox span {
  position: relative;
  display: block;
  top: -15px;
  left: 35px;
  width: 250px;
  color: #fcfff4;
  font-size: 1.1em;
}
.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
