html,body {
    height: 100%;
}

#game-container,
#game {
    height: 100%;
}

#switch {
    position: absolute;
    top: 5px;
    right: 5px;
}

#dirty {
    position: absolute;
    top: 30px;
    right: 5px;
}